@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
    body {width: 20cm; height: 29.7cm; margin-left: 30mm; margin-top: 20mm; margin-right: 10mm; margin-bottom: 20mm}
    address {font-style: italic}
    article {font-family: 'Bad Script', cursive; font-weight: 200; text-indent: 50px;}
    h3 {font-family: 'Bad Script', cursive; text-indent: 50px; font-weight: 900; text-decoration: underline}
    header {text-align: right}
    h1 {font-size: medium}